---
import NavBar from "../components/NavBar.jsx";
import Landing from "../components/Landing.jsx"
import GalleryItem from "../components/GalleryItem";
import GalleryLayout from "../layouts/GalleryLayout"
import myImage from '../assets/images/cover.jpg'; // Prilagodite putanju
import React from "react";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevena Crnogorac Portoflio</title>
</head>
<body class="flex-1 flex-row w-full h-screen">
<NavBar />
<GalleryLayout>
    <GalleryItem item={{'category': 'Memory from Travel', 'name': 'Art 1', 'status': 'NEW', 'price': '1000$', 'description': 'test desc', 'url': '#', 'image': myImage.src }} />
    <GalleryItem item={{'category': 'Memory from Travel', 'name': 'Art 2', 'status': 'SOLD', 'price': '2000$', 'description': 'test desc',  'url': '#', 'image': myImage.src}} />
    <GalleryItem item={{'category': 'Memory from childhood', 'name': 'Painting 3', 'status': 'NEW', 'price': '1500$', 'description': 'test desc',  'url': '#', 'image': myImage.src}} />
    <GalleryItem item={{'category': 'Memory from childhood', 'name': 'Painting 4', 'status': 'SOLD', 'price': '1000$', 'description': 'test desc', 'url': '#', 'image': myImage.src}} />
</GalleryLayout>
<!--<HomeLayout />-->
</body>
</html>
