---
// Import the BaseLayout
import HomeLayout from '../layouts/HomeLayout.jsx';
import Header from "../components/Header.jsx";
import coverImage from '../images/cover.jpg';
import React from "react";
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevena Crnogorac Portoflio</title>
</head>
<body class="bg-stone-50 flex-1 flex-row w-full h-screen">
<HomeLayout />
</body>
</html>
