---
import NavBar from "../components/NavBar.jsx";
import Footer from "../components/Footer.jsx";
import Landing from "../components/Landing.jsx"
import SEO from "../components/SEO.astro";
import React from "react";
---


<!DOCTYPE html>
<html lang="en">
<head>
    <SEO
        title="Nevena Crnogorac - Artist Portfolio"
        description="Explore the art gallery of Nevena Crnogorac, a contemporary artist from Serbia. View and purchase original paintings and mixed media artworks."
    />
</head>
<body class="flex-1 flex-row w-full h-screen">
<NavBar client:load/>
<Landing />
<Footer />
</body>
</html>
