---
// Import the BaseLayout
import NavBar from "../components/NavBar.jsx";
import Landing from "../components/Landing.jsx"
import React from "react";
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevena Crnogorac Portoflio</title>
</head>
<body class="flex-1 flex-row w-full h-screen">
<NavBar />
<Landing />
<!--<HomeLayout />-->
</body>
</html>
